<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>net.ushadow.calliope.web.IndexServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DispatcherServlet</servlet-name>
		<servlet-class>net.ushadow.calliope.web.DispatcherServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmitterServlet</servlet-name>
		<servlet-class>net.ushadow.calliope.web.EmitterServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>mailHandler</servlet-name>
    <servlet-class>net.ushadow.calliope.web.MailHandlerServlet</servlet-class>
  </servlet>

	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>/tasks/dispatcher</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>EmitterServlet</servlet-name>
		<url-pattern>/cron/emitter</url-pattern>
	</servlet-mapping>
	
  <servlet-mapping>
    <servlet-name>mailHandler</servlet-name>
    <url-pattern>/_ah/mail/*</url-pattern>
  </servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<url-pattern>/tasks/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<url-pattern>/cron/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<url-pattern>/_ah/mail/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>